<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Audi Models</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body class="bg-dark" >







<style>
body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/894/388/928/vehicle-car-audi-audi-rs6-avant-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<ul class="breadcrumb float-right bg-dark">
  <li class="breadcrumb-item active"><a href="#">Products</a></li>
  <li class="breadcrumb-item"><a href="#">Contact me</a></li>
    <li class="breadcrumb-item"><a href="#">About page</a></li>
</ul>



<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid p-3 my-3 bg-dark text-danger">
<h1>Audi  <span class="badge badge-danger text-light">A2</span></h1>

<div class="btn-group-sm btn">
  <a href="{% url 'a1' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A2">Audi A1</button><a/>
  <a href="{% url 'a3' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A3">Audi A3</button><a/>
  <a href="{% url 'a4' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A4">Audi A4</button><a/>
  <a href="{% url 'a5' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A5">Audi A5</button><a/>
  <a href="{% url 'a6' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A6">Audi A6</button><a/>
  <a href="{% url 'a7' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A7">Audi A7</button><a/>
  <a href="{% url 'a8' %}"><button type="button" class="btn-outline btn-danger" data-toggle="tooltip" data-placement="top" title="Switch to A8">Audi A8</button><a/>
</div>

</div>



<div class="container">
  <table class="table table-dark table-striped text-success">|
    <thead>
      <tr>
        <th class="badge-dark text-success">Model</th>
        <th class="badge-dark text-success">Year</th>
        <th class="badge-dark text-success">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Audi A2</td>
        <td>1999-2005</td>
        <td><a href="https://en.wikipedia.org/wiki/Audi_A2" data-toggle="tooltip" data-placement="top" title="Click here for more details">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron p-3 my-3 bg-dark text-light">


  <h1><span class="text-light">Audi A2...</span></h1>
  <p>The Audi A2 (internally designated Typ 8Z)[1] is a compact MPV-styled supermini car, with a five-door hatchback body style and four or five seats,[1] produced by the German manufacturer Audi from November 1999 to August 2005.[1] Based on the Audi Al2 concept car first shown at the Frankfurt Motor Show in 1997,[3] the A2 was notable for being constructed from aluminium, which in combination with its efficient engines, made it an extremely economical car on fuel.</p>
</div>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>

  /* Make the image fully responsive */
  .carousel img {
      width: 50%;
      height: auto;
      margin: auto;
      display: block;
  }

  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Audia21991.JPG" width="1000" height="500">
    </div>
    <div class="carousel-item">
      <img src="http://ogloszenia.bialystokonline.pl/galeria/01/20/87/15/0.jpg" width="1000" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="alert alert-info badge badge-secondary">
    <div class="spinner-grow spinner-grow-sm"></div>
  <p>Created By:</p> 
  <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/52422178_2308917072494247_2308966146222587904_n.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_ohc=-g1Fe0BhT-4AX8-y8Db&_nc_ht=scontent-vie1-1.xx&oh=752bd6a72411e5c8725412c6a3da1fac&oe=5EA7C142" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  <h5>Dejan Jovanovic</h5>
   <h7>deki90to@gmail.com</h7>
   <p></p>
  <a href="https://www.facebook.com/deki90to" class = "alert-link">Facebook |</a>
  <a href="https://www.instagram.com/dejanj0/" class = "alert-link">Instagram</a>

</div>




</body>
</html>