<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Audi Models</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body class="bg-dark" >







<style>
body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/894/388/928/vehicle-car-audi-audi-rs6-avant-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<ul class="breadcrumb float-right bg-dark">
  <li class="breadcrumb-item active"><a href="#">Products</a></li>
  <li class="breadcrumb-item"><a href="#">Contact me</a></li>
    <li class="breadcrumb-item"><a href="#">About page</a></li>
</ul>



<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid p-3 my-3 bg-dark text-danger">
<h1>Audi  <span class="badge badge-danger text-light">A5</span></h1>

<div class="btn-group-sm btn">


  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A2"><a href="{% url 'a1' %}">Audi A1<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A3"><a href="{% url 'a2' %}">Audi A2<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A4"><a href="{% url 'a3' %}">Audi A3<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A5"><a href="{% url 'a4' %}">Audi A4<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A6"><a href="{% url 'a6' %}">Audi A6<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A7"><a href="{% url 'a7' %}">Audi A7<a/></button>
  <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to A8"><a href="{% url 'a8' %}">Audi A8<a/></button>
</div>

</div>



<div class="container">
  <table class="table table-dark table-striped text-success">|
    <thead>
      <tr>
        <th class="badge-dark text-success">Model</th>
        <th class="badge-dark text-success">Year</th>
        <th class="badge-dark text-success">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Audi A5</td>
        <td>2007 - 2016</td>
        <td><a href="https://en.wikipedia.org/wiki/Audi_A5#First_generation_(2007%E2%80%932016)">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron p-3 my-3 bg-dark text-light">


  <h1><span class="text-light">Audi A5...</span></h1>
  <p>The Audi A5 is a series of compact executive coupe cars produced by the German automobile manufacturer Audi since March 2007. The A5 range additionally comprises the coupe, cabriolet, and "Sportback" (a four-door hatchback with a fastback-like roofline) version of the Audi A4 saloon and estate models.</p>
</div>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>

  /* Make the image fully responsive */
  .carousel img {
      width: 50%;
      height: auto;
      margin: auto;
      display: block;
  }

  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/2010_Audi_A5_%288T%29_3.0_TDI_quattro_Sportback_03.jpg/800px-2010_Audi_A5_%288T%29_3.0_TDI_quattro_Sportback_03.jpg" width="1000" height="500">
    </div>

  <div class="carousel-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Audi_A5_Coup%C3%A9_quattro_DTM_Champion_%28Facelift%29_%E2%80%93_Frontansicht%2C_30._August_2014%2C_D%C3%BCsseldorf.jpg/800px-Audi_A5_Coup%C3%A9_quattro_DTM_Champion_%28Facelift%29_%E2%80%93_Frontansicht%2C_30._August_2014%2C_D%C3%BCsseldorf.jpg" width="1000" height="500">
  </div>
  
      <div class="carousel-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/2012_Audi_A5_S_Line_Black_Edition_2.0_Front.jpg/800px-2012_Audi_A5_S_Line_Black_Edition_2.0_Front.jpg" width="1000" height="500">
  </div>

    <div class="carousel-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Audi_A5_II_2016.jpg/800px-Audi_A5_II_2016.jpg" width="1000" height="500">
  </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="alert alert-info badge badge-secondary">
    <div class="spinner-grow spinner-grow-sm"></div>
  <p>Created By:</p> 
  <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/52422178_2308917072494247_2308966146222587904_n.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_ohc=-g1Fe0BhT-4AX8-y8Db&_nc_ht=scontent-vie1-1.xx&oh=752bd6a72411e5c8725412c6a3da1fac&oe=5EA7C142" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  <h5>Dejan Jovanovic</h5>
   <h7>deki90to@gmail.com</h7>
   <p></p>
  <a href="https://www.facebook.com/deki90to" class = "alert-link">Facebook |</a>
  <a href="https://www.instagram.com/dejanj0/" class = "alert-link">Instagram</a>

</div>




</body>
</html>